<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237481545433-sn5h9tf5efji267suhvopmld26dqhat3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237481545433-sn5h9tf5efji267suhvopmld26dqhat3</string>
	<key>API_KEY</key>
	<string>AIzaSyAhDymuFaADHoLR19CBClXYUpoarbt7iSg</string>
	<key>GCM_SENDER_ID</key>
	<string>237481545433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tefillin</string>
	<key>PROJECT_ID</key>
	<string>tefillin-7f1b5</string>
	<key>STORAGE_BUCKET</key>
	<string>tefillin-7f1b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237481545433:ios:73ff4d2cb5f8d260a4b8c8</string>
</dict>
</plist>